//-********************************************************************************
//---------------------------------------------------------------------------------
//- Layouts
//---------------------------------------------------------------------------------
//-********************************************************************************

- var navID = "pagenav" 
- var headerID = "pageheader" 
- var mainID = "pagemain" 
- var footerID = "pagefooter" 

- var navClass = "l-nav" 
- var headerClass = "l-header" 
- var mainClass = "l-main" 
- var footerClass = "l-footer" 