//-********************************************************************************
//---------------------------------------------------------------------------------
//- Index
//---------------------------------------------------------------------------------
//-********************************************************************************

//-============================================================
//- Extend
//-============================================================

extend _extend_index

//-============================================================
//- Overrides
//-============================================================

append config
	//- - var addCss = true
	//- - var addJs = true
	//- - var addGoogleFonts = true
	//- - var addBootstrapGrids = true

	//- - var addJquery = true
	//- - var addBootstrapCss = true
	//- - var addBootstrapJs = true
	//- - var addFontAwesome = true
	//- - var addModernizr = true
	//- - var addRespondJs = true
	//- - var addGoogleFontsCDN = true
	//- - var addJqueryCDN = true
	//- - var addBootstrapCssCDN = true
	//- - var addBootstrapJsCDN = true
	//- - var addFontAwesomeCDN = true
	//- - var addModernizrCDN = true

append layouts
	//- - var navID = "pagenav" 
	//- - var headerID = "pageheader" 
	//- - var mainID = "pagemain" 
	//- - var footerID = "pagefooter" 
	//- 
	//- - var navClass = "l-nav" 
	//- - var headerClass = "l-header" 
	//- - var mainClass = "l-main" 
	//- - var footerClass = "l-footer" 

	
block navContent
	
block headerContent

block mainContent

block footerContent

